body{
    width: 200%;
    max-width: 800px;
    height: 100%;
    margin: center;
    font-family: 'swap';
    line-height: 1.5;
    color: rgb(249, 251, 252);
}

main{
    background: #12041fab;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
}


body,html{
    background-image: url("fundo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    height: 100%;
}

.imgRedonda{
 border-radius: 50%;
 width: 200px;
 transition:all 0.5s;
 text-align: center;
 
 }

.imgRedonda:hover{
 border-radius: 0%;
 transition: all 0.5s;
 text-align: center;
}
    
.hobbies,.formação,.eu {
    text-align: center;
    margin: 0;
    font-size: larger;
    
}

.header1{
    background-color:rgb(10, 10, 10);
    height: 60px;
    border-radius: 0%;
    width: 100px;
    padding: 5px 40px;
    margin-top: 20px;
    border-radius: 10px;



}

.minha{
    text-align: center;
    width: 28%;
    height: 100%;

}
.band{
    text-align: center;
}

.quadro{
    background-color: rgba(67, 9, 173, 0.6);
    padding: 80px;
    border-radius: 25px;
    position: fixed;
    padding: 30px;
    margin-left: 1px;
    margin-right: 80px;
    margin-bottom: 80px;
    margin-top: 80px;

}